app/.*
app/*.*
app/wp-includes
app/wp-admin
app/wp-content/*.*
app/wp-content/cache
app/wp-content/plugins/*
app/wp-content/uploads

!app/wp-content/plugins/mody*
!app/wp-content/themes/cloud

auth.json

.idea
.vscode
.env
.DS_Store

vendor
node_modules
